@font-face {
    font-family: "Black";
    src: url(../Documents/Fonts/Marck_Script/MarckScript-Regular.ttf);
}

html,
body {
    height: 100%;
    width: 100%;
}

.containeur-livre-udris {
 position: absolute;
 height: 86.6027%;
 width: 33.20592%;
 top: 6.69865%;
 left: 33.39704%;
}

.containeur-livre-udris.ouvert {
    width: 66.41185%;
    left: 16.794075%;
}

.livre-udris {
    position: relative;
    height: 568.98px;
    width: 896.56px;
    transition-duration: 1s;
}

.livre-udris.page-couverture {
    width: 448.28px;
}

.livre-udris.plat-verso {
    width: 448.28px;
}

.livre-udris .page.couverture {
    height: 568.98px;
    width: 448.28px;
}

.livre-udris .page {
    font-family: 'Black';
    position: absolute;
    height: 555.9px;
    width: 435.2px;
    transform-style: preserve-3d;
    transform-origin: left;
    transition: transform 1s;

    -webkit-transform-style: preserve-3d;
    -webkit-transform-origin: left;
    -webkit-transition: -webkit-transform 1s;
}

.livre-udris .page.page-simple {
    top: 6.54px;
}

.page.verso {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

.page .recto,
.page .verso {
    background-image: url(../Documents/Images/texture-papier-vintage-4.jpg);
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.verso {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

.page.recto.page-qui-tourne,
.page.verso.page-qui-tourne {
    z-index: 2;
}

.livre-udris .couverture .recto.page-couverture,
.livre-udris .couverture .verso.plat-verso,
.livre-udris .couverture .recto,
.livre-udris .couverture .verso {
    background-position: center;
    background-size: cover;
}


.livre-udris .couverture .recto.page-couverture {
    background-image: url(../Documents/Images/Couverture-Cuir-Journal-avec-laniere-petit.png);
}

.livre-udris .couverture .verso.plat-verso {
    background-image: url(../Documents/Images/Couverture-Cuir-Journal-avec-laniere-plat-verso.png);
}

.livre-udris .couverture .recto {
    background-image: url(../Documents/Images/Interieur-Couverture-Cuir-Journal-avec-laniere-petit.png);
}

.livre-udris .couverture .verso {
    background-image: url(../Documents/Images/Interieur-Couverture-Cuir-Journal-avec-laniere-page-couverture.png);
}

.page-en-cours-de-lecture {
    z-index: 1;
}

.containeur-annotation-haut-de-page,
.containeur-annotation-bas-de-page {
    display: block;
    height: 30.45px;
    width: 435.2px;
}

.containeur-paragraphe,
.containeur-croquis {
    margin-left: 30.45px;
    margin-right: 30.45px;
}

.containeur-annotation {
    display: block;
    height: 48pt;
}

.annotation {
    text-align: center;
    position: fixed;
}

.page .zone-de-texte {
    font-size: 14pt;
    line-height: 12pt;
}

.containeur-croquis {
    display: flex;
}

.croquis.grand-croquis {
    flex: 100%;
}

.croquis.petit-croquis {
    flex: 50%;
}

.petit-croquis img,
.grand-croquis img {
    width: 100%;
    height: 100%;
}

.livre-udris .annotation-1 {
    top: 325px;
    left: 300px;
    font-size: 14pt;
    text-decoration: line-through;
    transform: rotate(-24deg);
}

.livre-udris .annotation-2 {
    top: 347px;
    left: 155px;
    font-size: 14pt;
    text-decoration: line-through;
    transform: rotate(7deg);
}