@font-face {
    font-family: "MarckScript";
    src: url(../Documents/Fonts/Marck_Script/MarckScript-Regular.ttf);
}

html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: inherit;
    width: inherit;
    margin: 0;
    padding: 0;
    background-image: url(../Documents/Images/abstract-antique-background-172276.jpg);
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    font-size: 1.5rem;
}

#containeur-information {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    z-index: 3;
    background-color: black;
    justify-content: center;
    align-items: center;
    color: white;
}

#chargement {
    justify-content: center;
    align-items: center;
}

#chargement span{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #DAA520;
    margin: 35px 5px;
    opacity: 0;
}

#chargement span:nth-child(1){
    -webkit-animation: opacitychange 3s ease-in-out infinite;
    -moz-animation: opacitychange 3s ease-in-out infinite;
    animation: opacitychange 3s ease-in-out infinite;
}

#chargement span:nth-child(2){
    -webkit-animation: opacitychange 3s ease-in-out 0.33s infinite;
    -moz-animation: opacitychange 3s ease-in-out 0.33s infinite;
    animation: opacitychange 3s ease-in-out 0.33s infinite;
}

#chargement span:nth-child(3){
    -webkit-animation: opacitychange 3s ease-in-out 0.66s infinite;
    -moz-animation: opacitychange 3s ease-in-out 0.66s infinite;
    animation: opacitychange 3s ease-in-out 0.66s infinite;
}

@keyframes opacitychange{
    0%, 100%{
    opacity: 0;
    }

    60%{
    opacity: 1;
    }
}
    
#containeur-livre-udris {
    position: absolute;
    height: auto;
    width: 33vw;
    top: 50%;
    left: 50%;

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.livre-udris {
    position: relative;
    height: 568.98px;
    width: 448.28px;
    top: 50%;
    left: 50%;

    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
    -webkit-transform-origin: 0;
    -moz-transform-origin: 0;
    transform-origin: 0;
}

.livre-udris.page-couverture {
    left: 0%;
}

.livre-udris.plat-verso {
    left: 100%;
}

.livre-udris .page.couverture {
    height: 100%;
    width: 100%;
}

.livre-udris .page {
    font-family: 'MarckScript';
    position: absolute;
    height: 97%;
    width: 97%;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    transform-origin: left;
    
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;

    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    transition-duration: 1s;
    
    -webkit-transform:translate3d(0,0,0);


}

.livre-udris .page.page-simple {
    top: 0.40875rem;
}

.page.verso {
    -webkit-transform: rotateY(180deg) translateZ(0);
    -moz-transform: rotateY(180deg) translateZ(0);
    transform: rotateY(180deg);
}

.page .recto,
.page .verso {
    background-image: url(../Documents/Images/texture-papier-vintage-4.jpg);
    position: absolute;
    width: 100%;
    height: 100%;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.verso {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.page.recto.page-qui-tourne,
.page.verso.page-qui-tourne {
    z-index: 2;
}

.livre-udris .couverture .recto.page-couverture,
.livre-udris .couverture .verso.plat-verso,
.livre-udris .couverture .recto,
.livre-udris .couverture .verso {
    background-position: center;
    background-size: cover;
}


.livre-udris .couverture .recto.page-couverture {
    background-image: url(../Documents/Images/Couverture-Cuir-Journal-avec-laniere-petit.png);
}

.livre-udris .couverture .verso.plat-verso {
    background-image: url(../Documents/Images/Couverture-Cuir-Journal-avec-laniere-plat-verso.png);
}

.livre-udris .couverture .recto {
    background-image: url(../Documents/Images/Interieur-Couverture-Cuir-Journal-avec-laniere-petit.png);
}

.livre-udris .couverture .verso {
    background-image: url(../Documents/Images/Interieur-Couverture-Cuir-Journal-avec-laniere-page-couverture.png);
}

.page-en-cours-de-lecture {
    z-index: 1;
}

.containeur-paragraphe {
    margin: 1.903125rem;
}

#containeur-questionaire {
    position: absolute;
    height: 40%;
    width: 90%;
    top: 50%;
    left: 50%;

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#containeur-explication-questionnaire,
#containeur-question-reponse,
#containeur-resultat-quiz{
    position: absolute;
    margin: 0 auto;
    top: 50%;
    opacity: 0;
    visibility: hidden;
    
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    transition-duration: 1s;

    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

#containeur-explication-questionnaire.montrer,
#containeur-question-reponse.montrer,
#containeur-resultat-quiz.montrer {
    visibility: visible;
    opacity: 1;
}

#containeur-bar-progression {
    height: 1rem;
    width: 95%;
    text-align: center;
    border-radius: 16px;
    background-color:#FFCB6E;
    margin: 0.7rem;
}

#bar-progression {
    height: 100%;
    width: 0%;
    border-radius: 16px;
    font-size: 1rem;
    text-align: center;
    background-color: #FFA40C;
    color: white;
    font-weight: bold;
}

#question,
.titre  {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}

#containeur-choix-de-reponse,
#containeur-description-element,
#explication-questionnaire {
    text-align: justify;
    font-size: 1.4rem;
    margin-bottom: 2rem;
    padding-right: 5%;
    padding-left: 5%;
}

.containeur-response {
    margin-bottom: 5%;
}

input[type="radio"]:checked + label {
    color: #993333;
}

.containeur-response label {
    text-align: end;
}

.top-containeur-resultat {
    margin: 0 auto;
    text-align: center;
}

.containeur-resultat-image {
    width: 9.375rem;
    height: 9.375rem;
    margin: 0 auto;
}

#udris-resultat-image {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

#btn-soumettre-recommencer-questionnaire {
    position: relative;
    margin: 0 auto;
    text-align: center;
    text-decoration-line: underline;
    
}

#btn-soumettre-recommencer-questionnaire img {
    width: 10%;
    height: auto;

    -webkit-transition-duration: 100ms;
    -moz-transition-duration: 100ms;
    transition-duration: 100ms;
}

#btn-soumettre-recommencer-questionnaire img:active {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
}

#containeur-media-social {
    position: absolute;
    display: flex;
    height: auto;
    width: 7%;
    bottom: 0px;
    right: 0px;
}

.icon-social-media {
    margin: 5%;
    height: 100%;
    width: 50%;
    float: left;

    -webkit-transition-duration: 100ms;
    -moz-transition-duration: 100ms;
    transition-duration: 100ms;
}

.icon-social-media:active {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
}

.icon-social-media img {
    width: 100%;
    height: 100%;
}

@media (min-width: 768px) and (max-width: 1024px) {

    #containeur-livre-udris {
        width: 30vw;
    }

}

@media (max-width: 768px)  {

    #containeur-livre-udris {
        width: 18vw;
    }

}

@media  (max-width: 1024px) {

    body {
        font-size: 0.75rem;
    }
  
    .livre-udris {
        height: 284.49px;
        width: 224.14px;
    }
    
    .livre-udris .page.page-simple {
        top: 0.204375rem;
    }
    
    .containeur-paragraphe {
        margin: 0.9515625‬rem;
    }
    
    #containeur-bar-progression {
        height: 0.5rem;
        margin: 0.35rem;
    }
    
    #bar-progression {
        font-size: 0.5rem;
    }
    
    #question,
    .titre  {
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    
    #containeur-choix-de-reponse,
    #containeur-description-element,
    #explication-questionnaire {
        text-align: justify;
        font-size: 0.7rem;
        margin-bottom: 1rem;
    }
    
    .containeur-resultat-image {
        width: 4.6875rem;
        height: 4.6875rem;
    }
    
  }