@font-face {
    font-family: "MarckScript";
    src: url(../Documents/Fonts/Marck_Script/MarckScript-Regular.ttf);
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    width: inherit;
    height: inherit;
    margin: 0;
    padding: 0;
    background-image: url(../Documents/Images/abstract-antique-background-172276.jpg);
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

#containeur-information {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    z-index: 3;
    background-color: black;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.25em;
}

.chargement {
    animation: extend 3s steps(3, end) infinite;
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom;
}

.chargement::before {
    content: "...";
}

@keyframes extend {
    0% {
        width: 0.25em;
    }

    100% {
        width: 1em;
    }
}

#containeur-livre-udris {
    position: absolute;
    display: inline-block;
    height: auto;
    width: 90%;
    min-width: 90%;
    top: 50%;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
}

.containeur-button {
    position: absolute;
    width: 5%;
    height: 10%;
    top: 50%;
    z-index: 2;
    transform: translate(0, -50%);
}

.containeur-button.precedent {
    right: 100%;
}

.containeur-button.precedent img {
    width: 100%;
    height: 100%;
}

.containeur-button.suivant {
    left: 100%;
}

.containeur-button.suivant img {
    width: 100%;
    height: 100%;
}

#livre-udris {
    position: relative;
    margin: 0 auto;
    height: 434.084px;
    width: 342px;
    transition-duration: 0.5s;
    transform-origin: 0;
    -webkit-transform-origin: 0;
    -moz-transform-origin: 0;
}

#livre-udris .page {
    height: 434.084px;
    width: 342px;
}

#livre-udris .page {
    font-family: 'MarckScript';
    background-image: url(../Documents/Images/texture-papier-vintage-4.jpg);
    position: absolute;
    transform-style: preserve-3d;
    transform-origin: left;
    transition-duration: 0.5s;
    visibility: hidden;
    -webkit-transform-style: preserve-3d;
    -webkit-transform-origin: left;
    -webkit-transition: -webkit-transform 0.5s;

}

.page-precedente {
    transform: translateX(-110%);
}

.page-suivante {
    transform: translateX(110%);
}

#livre-udris .couverture {
    background-position: center;
    background-size: cover;
}

#livre-udris .page-couverture-recto {
    background-image: url(../Documents/Images/Couverture-Cuir-Journal-avec-laniere-petit.png);
}

#livre-udris .plat-verso-verso {
    background-image: url(../Documents/Images/Couverture-Cuir-Journal-avec-laniere-plat-verso.png);
}

#livre-udris .plat-verso-recto {
    background-image: url(../Documents/Images/Interieur-Couverture-Cuir-Journal-avec-laniere-petit.png);
}

#livre-udris .page-couverture-verso {
    background-image: url(../Documents/Images/Interieur-Couverture-Cuir-Journal-avec-laniere-page-couverture.png);
}

#livre-udris .page.page-en-cours-de-lecture {
     visibility: visible;
}

.containeur-paragraphe {
    margin: 23.93px;
}

.page .zone-de-texte {
    backface-visibility: hidden;
    transform: translateZ(0);
    -webkit-font-smoothing: subpixel-antialiased;
    font-size: 10.93pt;
    line-height: 9.37pt;
}

.containeur-questionaire {
    position: relative;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
}

.page .containeur-question,
.page .containeur-resultat-quiz{
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translate(0, -50%);
    margin: 0 auto;
    opacity: 0;
    visibility: hidden;
    transition: 1s;
}

.page.page-en-cours-de-lecture .containeur-question.montrer,
.page.page-en-cours-de-lecture .containeur-resultat-quiz.montrer {
    visibility: visible;
    opacity: 1;
}

.question  {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.containeur-response {
    margin-bottom: 20px;
}

input[type="radio"]:checked + label {
    color: #993333;
}

.containeur-response label {
    text-align: end;
}

.top-containeur-resultat {
    margin: 0 auto;
    text-align: center;
}

.containeur-image-resultat {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

#udris-image-resultat {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

#containeur-soumettre-recommencer-questionnaire {
    position: relative;
    margin: 0 auto;
    text-align: center;
    text-decoration-line: underline;
}

#containeur-soumettre-recommencer-questionnaire img {
    width: 10%;
    height: auto;
    transition: all 0.1s;
}

#containeur-soumettre-recommencer-questionnaire img:active {
    transform: scale(0.8);
}

#containeur-media-social {
    position: absolute;
    display: flex;
    height: auto;
    width: 25%;
    bottom: 0px;
    right: 0px;
}

.icon-social-media {
    margin: 5%;
    height: 100%;
    width: 50%;
    float: left;
    transition: all 0.1s;
}

.icon-social-media:active {
    transform: scale(0.8);
}

.icon-social-media img {
    width: 100%;
    height: 100%;
}

@media (min-width: 1024px) {

    #containeur-media-social {
        position: absolute;
        display: flex;
        height: auto;
        width: 7%;
        bottom: 0px;
        right: 0px;
    }

}

@media (min-width: 481px) and (max-width: 1024px) {

    #containeur-media-social {
        position: absolute;
        display: flex;
        height: auto;
        width: 15%;
        bottom: 0px;
        right: 0px;
    }

}
