@font-face {
    font-family: "Black";
    src: url(../Documents/Fonts/Marck_Script/MarckScript-Regular.ttf);
}

.page {
    font-family: 'Black';
    background-image: url(../Documents/Images/texture-papier-vintage-4.jpg);
    background-color: palegoldenrod;
    position: absolute;
    left: 50%;
    top: 7.5%;
    height: 555.9px;
    width: 435.2px;
}

.page .zone-de-texte {
    margin: 7%;
    font-size: 14pt;
    line-height: 12pt;
}

.containeur-paragraphe .paragraphe {
    margin-bottom: 48pt;
}

.containeur-annotation-apres {
    display: block;
    height: 48pt;
}

.livre-udris .annotation-1 {
    font-size: 14pt;
    text-decoration: line-through;
    transform: rotate(-24deg);
}

.livre-udris .annotation-2 {
    font-size: 14pt;
    text-decoration: line-through;
    transform: rotate(7deg);
}